body {
  font-family:  'Roboto', sans-serif;
  font-size: 16px;

  margin: 0;
  padding: 0;

  width: 100%;
  /* max-width: 1170px; */
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    position: absolute;

   
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px;
    position: absolute;
}


/* logo */



/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.nav-link{
    color: #22222b;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 0;
}

.nav-link:active {
    /*border-bottom: 3px solid #22222b;*/
    text-decoration: underline;
}

/* intro */

.intro {
    
    background: url('img/Banner.png') no-repeat center;

    padding-top: 100px;
    height: 961px;

    display: flex;
    flex-direction: column;
    justify-content: center;


}


.into-title {
    margin: 0 0 30px;
    font-size: 60px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.1;
    text-align: center

}